/* Global Styles */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;
}

:root {
  --font-sora: "Sora", sans-serif;
  --font-poppins: "Poppins", sans-serif;
  --primary-color: #3658c1;
  --secondary-color: #b0c3ff;
}

html {
  font-size: 62.5%;
  /* Para cada 1rem no código abaixo, será considerado 10px */
}

html,
body {
  height: 100vh;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

body {
  font-size: 1.6rem;
  /* 1.6rem = 16px */
}

.container {
  width: 90%;
  max-width: 900px;
  margin: auto;
}

.logo h1 {
  font-family: var(--font-sora);
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}

/* Header Styles */

header {
  width: 100%;
  height: 10vh;
  position: relative;
  z-index: 99999;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

header .container nav ul {
  display: flex;
  gap: 20px;
  list-style: none;
}

header .container nav ul li a {
  font-size: 2rem;
  font-family: var(--font-poppins);
  color: #000;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}

header .container nav ul li a:hover {
  text-decoration: underline 2px;
}

header .container .burguer {
  display: none;
  justify-content: space-between;
  flex-direction: column;
  width: 45px;
  height: 30px;
  cursor: pointer;
}

header .container .burguer .line {
  width: 100%;
  height: 3px;
  border-radius: 2px;
  background: #000;
  transition: all 0.7s ease;
}

/* Main Styles */

#projects-section {
  padding: 20px 0;
}

.search-container {
  display: flex;
  gap: 5px;
  padding: 20px 0;
}

.search-input {
  width: 100%;
  font-size: 1.6rem;
  font-family: var(--font-poppins);
  padding: 15px;
  border: none;
  border-radius: 5px;
  background-color: #f7f6fe;
}

.project-not-found {
  display: none;
}

.project-not-found.active {
  display: block;
  height: 100vh;
  font-size: 2.5rem;
  font-family: var(--font-poppins);
  text-align: center;
  padding: 20px 0;
}

main .container .hero,
main .container .contact {
  display: flex;
  align-items: center;
  gap: 20px;
  height: 90vh;
}

main .container .hero .left-side,
main .container .contact .left-side {
  width: 40%;
}

main .container .hero .left-side img,
main .container .contact .left-side img {
  width: 100%;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}

main .container .hero .right-side,
main .container .contact .right-side {
  width: 60%;
}

main .container .hero .right-side h2 {
  font-size: 6.4rem;
  font-family: var(--font-sora);
  margin-bottom: 20px;
  animation: fromTop 1s ease-out backwards;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}

main .container .hero .right-side h2 strong {
  background: var(--primary-color);
  border-radius: 10px;
  color: #fff;
  padding: 3px;
}

main .container .hero .right-side p {
  font-family: var(--font-poppins);
  font-size: 3.2rem;
  display: flex;
  align-items: center;
  gap: 10px;
  animation: fromTop 1s ease-out 0.5s backwards;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}

main .container .hero .right-side img {
  width: 30px;
  height: 30px;
  animation: goingAndComingBack 1.5s ease infinite alternate;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}

main .container .contact .right-side form {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding: 40px 30px;
  border: 1px solid #ddd;
  border-radius: 20px;
}

main .container .contact .right-side form h2 {
  font-family: var(--font-poppins);
  font-size: 3.2rem;
  margin-bottom: 20px;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}

main .container .contact .right-side form input {
  margin-bottom: 20px;
  height: 40px;
  padding: 15px;
  font-family: var(--font-poppins);
  font-size: 1.6rem;
  border: none;
  border-radius: 5px;
  background-color: #f7f6fe;
  width: 100%;
}

main .container .contact .right-side form input::placeholder {
  opacity: 0.5;
}

main .container .contact .right-side form input:focus-within {
  outline: 2px solid var(--primary-color);
}

main .container .contact .right-side form label {
  font-family: var(--font-poppins);
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 15px;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}

#textarea {
  resize: none;
  width: 100%;
  height: 85px;
  border: none;
  border-radius: 5px;
  background: #f7f6fe;
  margin-bottom: 20px;
  padding: 8px;
  font-family: var(--font-poppins);
  font-size: 1.6rem;
}

#textarea:focus-within {
  outline: 2px solid var(--primary-color);
}

main .container .contact .right-side form button {
  background-color: var(--primary-color);
  font-family: var(--font-poppins);
  font-size: 1.6rem;
  font-weight: 500;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 15px 25px;
  cursor: pointer;
  transition: background-color 0.2s ease-in;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  border-radius: 5px;
  box-shadow: 0 0.7em 1.5em -0.5em var(--primary-color);
}

main .container .contact .right-side form button:active {
  background-color: #5770bd;
}

/* Some Projects Styles */

main .container .some-projects,
main .container .all-projects {
  padding: 20px 0;
}

main .container .some-projects h2,
main .container .all-projects h2 {
  font-family: var(--font-poppins);
  font-size: 3.2rem;
  user-select: none;
  margin-bottom: 30px;
  -webkit-user-select: none;
  -moz-user-select: none;
}

main .container .some-projects .cards-grid,
main .container .all-projects .cards-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
}

.card {
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  box-shadow: 0 5px 12px 0px #dfdfdf6b;
}

.card .img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100%;
  height: 150px;
}

.card .text {
  padding: 10px;
  font-family: var(--font-poppins);
}

.card .text h3 {
  margin-bottom: 10px;
  text-transform: capitalize;
}

.card .text p {
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  opacity: 0.8;
  word-break: keep-all;
}

main .container .some-projects a {
  background-color: var(--primary-color);
  font-family: var(--font-poppins);
  font-size: 1.6rem;
  font-weight: 500;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  padding: 15px 25px;
  cursor: pointer;
  transition: background-color 0.2s ease-in;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  box-shadow: 0 0.7em 1.5em -0.5em var(--primary-color);
  display: block;
  min-width: 200px;
  max-width: 300px;
  text-align: center;
  margin: 35px auto;
}

main .container .some-projects a:active {
  background-color: #5770bd;
}

/* Footer Styles */

footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
}

footer .container .links ul {
  columns: 2;
  list-style: none;
}

footer .container .links ul li a {
  font-family: var(--font-poppins);
  font-size: 1.8rem;
  color: #000;
  text-decoration: none;
  font-weight: 500;
  opacity: 0.8;
}

footer .container .links ul li a:hover {
  text-decoration: underline;
}

/* Modal Styles */

.modal-overflow {
  display: none;
}

.modal-overflow.active {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.modal-overflow.active ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.modal-overflow.active ul li img {
  padding-right: 10px;
}

.modal-overflow.active ul li a {
  font-size: 2.5rem;
  text-decoration: none;
  color: #000;
  font-family: var(--font-poppins);
  font-weight: 500;
}

.modal-overflow.active ul li:hover {
  text-decoration: underline 2px;
}

/* Animations */

@keyframes goingAndComingBack {
  from {
    transform: translateX(20px);
  }

  to {
    transform: translateX(0px);
  }
}

@keyframes fromTop {
  from {
    opacity: 0;
    transform: translateY(-30px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Media Queries */

@media (max-width: 885px) {
  main .container .hero .right-side h2 {
    font-size: 5.6rem;
  }

  main .container .hero .right-side p {
    font-size: 2rem;
  }
}

@media (max-width: 714px) {
  main .container .contact .left-side {
    display: none;
  }

  main .container .contact .right-side {
    width: 100%;
  }
}

@media (max-width: 620px) {
  main .container .hero {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  main .container .hero .left-side {
    width: 100%;
  }

  main .container .hero .right-side {
    width: 100%;
  }

  main .container .hero .left-side img {
    width: 85%;
    margin: auto;
  }

  main .container .hero .right-side h2 {
    font-size: 3.5rem;
  }

  main .container .hero .right-side p {
    font-size: 1.8rem;
  }
}

@media (max-width: 590px) {
  footer .container {
    flex-direction: column;
    gap: 20px;
  }

  html {
    font-size: 58%;
  }
}

@media (max-width: 550px) {
  header .container nav {
    display: none;
  }

  header .container .burguer {
    display: flex;
  }
}
