/* Global Styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-poppins: "Sora", sans-serif;
  --font-sora: "Poppins", sans-serif;
}

.container {
  width: 90%;
  max-width: 900px;
  margin: auto;
}

.logo h1 {
  font-family: var(--font-sora);
}

/* Header Styles */

header {
  height: 10vh;
}

header .container {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}

header .container nav ul {
  display: flex;
  gap: 20px;
  list-style: none;
}

header .container nav ul li a {
  font-size: 1.2rem;
  font-family: var(--font-poppins);
  color: #000;
  text-decoration: none;
}

header .container nav ul li a:hover {
  text-decoration: underline 2px;
}

/* Main Styles */

main .container .hero {
  display: flex;
  align-items: center;
  gap: 20px;
  height: 90vh;
}

main .container .hero .left-side {
  width: 40%;
}

main .container .hero .left-side img {
  width: 100%;
}

main .container .hero .right-side {
  width: 60%;
}

main .container .hero .right-side h2 {
  font-size: 4rem;
  font-family: var(--font-sora);
  margin-bottom: 20px;
  animation: fromTop 1s ease-out backwards;
}

main .container .hero .right-side h2 strong {
  background: #a59ae8;
  border-radius: 10px;
  color: #fff;
  padding: 3px;
}

main .container .hero .right-side p {
  font-family: var(--font-poppins);
  font-size: 2rem;
  display: flex;
  align-items: center;
  gap: 10px;
  animation: fromTop 1s ease-out .5s backwards;
}

main .container .hero .right-side img {
  width: 30px;
  height: 30px;
  animation: floatingToTheRight 1.5s ease infinite alternate;
}

/* Animations */

@keyframes floatingToTheRight {
  from {
    transform: translateX(20px);
  }

  to {
    transform: translateX(0px);
  }
}

@keyframes fromTop {
  from {
    opacity: 0;
    transform: translateY(-30px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }

}
